
@font-face {
  font-family: glitch-goblin;
  src: url('./resources/glitch-goblin-font/GlitchGoblin-2O87v.ttf');
}

h1 {
  font-family: 'glitch-goblin';
}

#game div {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}