/* Global Styles */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

:root {
  --darkweb: #0D0208;
  --evergreen: #003B00;
  --lurking: #008F11;
  --binary: #00FF41;
  --office: #a7a7a7;
}

/* from https://www.schemecolor.com/matrix-code-green.php */

@font-face {
  font-family: glitch-goblin;
  src: url('./resources/glitch-goblin-font/GlitchGoblin-2O87v.ttf');
}

html {
  font-size: 16px;
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--darkweb);
}

body {
  margin: 0;
  height: 100vh;
}

.goblin {
  font-family: 'glitch-goblin';
}

.evenly {
  display: flex;
  justify-content: space-evenly;
}

.hide {
  display: none;
}


/* Header Styles */

header {
  border-bottom: .15rem solid var(--evergreen);
  padding-bottom: 2rem;
}

h1 {
  font-size: 4rem;
  margin: 3rem;
} #the, #game {
  background: -webkit-linear-gradient(white, var(--lurking));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} #memory {
  background: -webkit-linear-gradient(var(--binary), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#playerName {
  color: var(--binary);
}


/* Menu */

#menu {
  margin: auto;
}

h2 {
  margin: 2.5rem;
}

p {
  margin: 1rem;
}

.instructions {
  margin: 2rem auto;
}

form {
  margin: 3rem;
}

h3 {
  margin: 1.15rem;
}

h4 {
  margin: .75rem;
}

input, button {
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--office);
  border-radius: .2rem;
  text-align: center;
  margin: .75rem 2rem 1rem;
} input {
  color: var(--lurking);
  padding: .35rem;
}

button {
  color: white;
  padding: 1rem;
  width: 9rem;
  height: 3rem;
  vertical-align: middle;
  font-size: 1.25rem;
} button:hover {
  cursor: pointer;
  transform: rotate(1deg);
} button:active {
  opacity: .65;
  transform: rotate(0deg);
} #easy {
  background-image: linear-gradient(to left top, var(--evergreen), var(--binary) 50%, var(--evergreen))
} #easy:active {
  color: var(--lurking);
} #medium {
  background-image: linear-gradient(to left top, #544d02, gold 50%, #544d02)
} #medium:active {
  color: #949906;
} #hard {
  background-image: linear-gradient(to left top, #450308, crimson 50%, #450308)
} #hard:active {
  color: #990632;
}

/* Gameboard */

#gameContainer {
  margin: 2.5rem auto;
  flex-direction: row;
}

#gameContainer div {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
  border: 2px dashed var(--office);
  border-radius: 3px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}